.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
ceas/D1_data.txt
ceas/D2_data.txt
ceas/D3_data.txt
analysis/*.txt
*.m~
analysis/temp.svg
